<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" media="screen" href="/css/screen.css" type="text/css" />
    </head>
<body>
<div id="leader">
    <div class="title">
        <h1><a href="http://www.stevenbuss.com/">steven buss</a> dot com</h1>
    </div>
    <div id="tidbits">
        <a href="http://github.com/sbuss"
            title="Steven Buss github">github</a> | 
        <a href="http://www.linkedin.com/pub/steven-buss/2/71b/27"
            title="Steven Buss linkedin">linkedin</a>
    </div>
</div>
<div id="box">
    <div id="seran">
        {{ content }}
    </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-421296-2");
    pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
